# Default ignored files
/../../Git./.idea/shelf/
/../../Git./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Git./.idea/httpRequests/
# Datasource local storage ignored files
/../../Git./.idea/dataSources/
/../../Git./.idea/dataSources.local.xml
